.Title{
	top:0;
	left:0;
	background:rgba(29,32,50,1);
	color:white;
	padding:1%;
	width:100%;
	position:absolute;
	border-left:5px solid #FF2A34;
	z-index: 2;
	box-sizing: border-box;
}

.Title h2{
	margin:0;
	font-size: 16px;
	font-weight: bold;
}