.Modal{
	width:100%;
	max-width:800px;
	min-height:70vh;
	margin: 0 auto;
	position:fixed;
	left:0;
	right:0;
	top:15vh;
	padding:20px;
	border-radius: 5px;
	background-color:#eaeaea;
	border:1px solid #c4c0c0;
}

.close{
	float:right;
	color:black;
	text-decoration: none;
}